@charset "UTF-8";
@font-face {
font-family: 'DSEG7CM-I';
src: url('DSEG7ClassicMini-Italic.woff2') format('woff2'),
url('DSEG7ClassicMini-Italic.woff') format('woff');
}
.time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'DSEG7CM-I', Helvetica;
  color: red;
  font-size: 10vw;
}
body {
background-color: black;
}
